/* Error: Indenting at the beginning of the document is illegal.
 *   ,
 * 1 |     /* theme 1 *∕
 *   | ^
 *   '
 *   assets\sass\1-base\_variables.sass 1:1  @use
 *   assets\sass\1-base\base.sass 2:1        @use
 *   assets\sass\main.sass 1:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Indenting at the beginning of the document is illegal.\a   \2577 \a 1 \2502      /* theme 1 */\d\a   \2502  ^\a   \2575 \a   assets\\sass\\1-base\\_variables.sass 1:1  @use\a   assets\\sass\\1-base\\base.sass 2:1        @use\a   assets\\sass\\main.sass 1:1               root stylesheet";
}
