@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    /* font */
    --Spartan: "League Spartan";
    /* theme 1 */
    --mainbg: hsl(222, 26%, 31%);
    --mainshadow: hsl(224, 28%, 35%);
    --mainscreen: hsl(224, 36%, 15%);
    --mainkey: hsl(223, 31%, 20%);
    --mainreset: hsl(225, 21%, 49%);
    --red: hsl(6, 63%, 50%);
    --redshadow: hsl(6, 70%, 34%);
    --mainbutton: hsl(30, 25%, 89%);
    --shadowbutton: hsl(28, 16%, 65%);
    --textbutton: hsl(221, 14%, 31%);
    --hoverred: hsl(6, 55%, 54%);
    --hoverblue: hsl(226, 21%, 64%);
    /* theme 2 */
    --bg2: hsl(0, 0%, 90%);
    --key2: hsl(0, 5%, 81%);
    --screen2: hsl(0, 0%, 93%);
    --cyan: hsl(185, 42%, 37%);
    --shadowncyan: hsl(185, 58%, 25%);
    --orange: hsl(25, 98%, 40%);
    --shadownorange: hsl(25, 99%, 27%);
    --keybg2: hsl(45, 7%, 89%);
    --shadownbg2: hsl(35, 11%, 61%);
    --keybg2hover: hsl(45, 100%, 99%);
    --cyanhover: hsl(185, 39%, 55%);
    --orangehover:rgb(231, 115, 33);
    /* theme 3*/
    --bg3: hsl(268, 75%, 9%);
    --screen3: hsl(268, 71%, 12%);
    --key3: hsl(281, 89%, 26%);
    --green: hsl(177, 63%, 41%);
    --shadown3: hsl(177, 92%, 70%);
    --darkviolet: hsl(268, 47%, 21%);
    --darkmagenta: hsl(290, 70%, 36%);
    --yellow: hsl(52, 100%, 62%);
    --darkblue:  hsl(303, 63%, 21%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Spartan);
}

body {
    background: var(--mainbg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
}

main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav {
    display: block;
    color: white;
}

.num-btn {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.theme{
    font-size: 20px;
}

.num-theme {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

h1{
    font-size: 25px;
    font-weight: 700;
}

.num-theme span {
    cursor: pointer;
    width: 10px;
    font-size: 18px;
}

.toggle {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.screen {
    width: 460px;
}

#screen {
    margin-top: 15px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--mainscreen);
    text-align: right;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

button {
    width: 85px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border: 0;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px var(--shadowbutton);
    margin: 11px;
    color: var(--textbutton);
    font-weight: 700;
    font-size: 22px;
    background-color: var(--mainbutton);
}

.cal-btn {
    padding: 15px 5px;
    display: flex;
    width: 460px;
    flex-flow: wrap;
    justify-content: center;
    margin: 0 auto;
}

.cal-btn button:nth-last-child(-n+2) {
    width: 192px;
}

.calculador {
    background-color: var(--mainkey);
    border-radius: 10px;
}

.reset,
.del {
    background-color: var(--mainreset);
    color: white;
    box-shadow: 0px 5px 0px 0px var(--mainshadow);
}

.equal {
    background-color: var(--red);
    box-shadow: 0px 5px 0px 0px var(--redshadow);
    color: white;
}

button.equal:hover {
    background-color: var(--hoverred);
}

.del:hover,
.reset:hover {
    background-color: var(--hoverblue);
}

button:hover {
    background-color: rgb(243, 243, 207);
}

.toggle{
	display: flex;
	justify-content: flex-end;
}

.toggle .box{
    width: 45px;
	height: 20px;
	background-color: hsl(224, 36%, 15%);
	border-radius: 30px;
	margin-left: 4px;
	position: relative;
    cursor: pointer;
}

.toggle #circle{
	width: 20px;
	height: 20px;
	background-color: hsl(6, 63%, 50%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 30px;
}

body.active1{
	background-color: var(--bg2);
}

body.active1 .nav{
	color: black;
}

body.active1 .calculador{
    background-color: var(--key2);
}

body.active1 .box{
    background-color: var(--key2);
}

body.active1 #screen{
    background-color: var(--screen2);
    color: black;
}

body.active1 button{
    background-color: var(--keybg2);
    box-shadow: 0px 5px 0px 0px var(--shadownbg2);
    color: black;
}

body.active1 button:hover{
    background-color: var(--keybg2hover);
}

body.active1 .del{
    color: white;
    background-color: var(--cyan);
    box-shadow: 0px 5px 0px 0px var(--shadowncyan);
}

body.active1 .del:hover{
    background-color: var(--cyanhover);
}

body.active1 .reset{
    color: white;
    background-color: var(--cyan);
    box-shadow: 0px 5px 0px 0px var(--shadowncyan);
}

body.active1 .reset:hover{
    background-color: var(--cyanhover);
}

body.active1 .equal{
    color: white;
    background-color: var(--orange);
    box-shadow: 0px 5px 0px 0px var(--shadownorange);
}

body.active1 .equal:hover{
    background-color: var(--orangehover);
}

body.active1 #circle{
    background-color: var(--orange);
}

/* --------------------------------------------------------------------------------- */

body.active2{
	background-color: var(--bg3);
}

body.active2 .nav{
	color: var(--yellow);
}

body.active2 .calculador{
    background-color: var(--screen3);
}

body.active2 .box{
    background-color: var(--screen3);
}

body.active2 #screen{
    background-color: var(--screen3);
    color: var(--yellow);
}

body.active2 button{
    background-color: var(--darkviolet);
    box-shadow: 0px 5px 0px 0px var(--darkblue);
    color: var(--yellow);
}

body.active2 button:hover{
    background-color: var(--darkblue);
}

body.active2 .del{
    color: white;
    background-color: var(--darkblue);
    box-shadow: 0px 5px 0px 0px var(--darkmagenta);
}

body.active2 .del:hover{
    background-color: var(--darkmagenta);
}

body.active2 .reset{
    color: white;
    background-color: var(--darkblue);
    box-shadow: 0px 5px 0px 0px var(--darkmagenta);
}

body.active2 .reset:hover{
    background-color: var(--darkmagenta);
}

body.active2 .equal{
    color: black;
    background-color: var(--green);
    box-shadow: 0px 5px 0px 0px var(--shadown3);
}

body.active2 .equal:hover{
    background-color: var(--shadown3);
}

body.active2 #circle{
    background-color: var(--shadown3);
}

@media screen and (max-width: 440px){
    .calculador{
        margin: 0 auto;
        width: 255px;
    }

    .cal-btn{
        width: 250px;
    }

    button{
        width: 49px;
        padding: 11px;
        margin: 7px 4px;
        font-size: 20px;
    }

    .cal-btn button:nth-last-child(-n+2){
        width: 105px;
    }

    .screen{
        width: 255px;
    }

    #screen{
        height: 70px;
    }

    h1{
        font-size: 25px;
    }

    .theme{
        font-size: 18px;
    }
    
    .num-btn{
        gap: 0;
    }

    .num-btn span{
        font-size: 15px;
        width: 13px;
    }

    .num-theme{
        height: 25px;
    }

    .toggle #circle{
        width: 19px;
        height: 19px;
    }

    .toggle .box{
        width: 42px;
        height: 19px;
    }
}